on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  flutterversion: "3.38.x"
jobs:
  flutter-status-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: ${{ env.flutterversion }}
      - name: Install dependencies and generate intermediates
        run: ./scripts/install_dependencies.sh
      - name: Flutter analyze
        run: ./scripts/analyze.sh
